# macOS
.DS_Store

# VS Code
.vscode/

# binaries
binaries/*.ini
binaries/*.dll
binaries/*.exe
binaries/*.ilk
binaries/*.pdb

# CMake
cmake/
build/

binaries/data/skins/*
!binaries/data/skins/default/

*.yaml
binaries/*.yaml
vcpkg_installed/

!binaries/bass_fx.dll
!binaries/bass.dll