binaries/*.ini
binaries/*.dll
binaries/*.exe
binaries/*.ilk
binaries/*.pdb
cmake/

binaries/data/skins/*
!binaries/data/skins/default/

*.yaml
binaries/*.yaml
vcpkg_installed/

!binaries/bass_fx.dll
!binaries/bass.dll